<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbContext" connectionString="Server=AXADODEV\DEV_AXADO;Database=shipfy_db_dev;User ID=dev_axado;Password=#102030;MultipleActiveResultSets=True;Connection Timeout=6000" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>