<?xml version="1.0" encoding="utf-8" ?> 

<configuration>
  <connectionStrings>
    <add name="BancoTransportadoras" connectionString="Data Source=DESKTOP-V9Q464L\EVOLUTION; Initial Catalog=BancoTransportadoras; Integrated Security=SSPI; User ID=Evolution; Password=#102030;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>