@{
    ViewBag.Title = "Filters";
}

<h2>Filters</h2>


<section id="conteudo" class="container">
    <div class="form-horizontal">
        <h4>Transportadoras</h4>
        <hr />
        <section id="formulario">
            <form action="/" method="post" id="formSearchCarrier">
                <div class="form-group">

                    <label class="control-label col-md-2" for="NomeRazaoSocial">Nome/Razão Social</label>
                    <div class="col-md-10">

                        <input type="text" id="SerachName" class="form-control" name="SerachName" />

                    </div>

                    <div class="col-md-10">

                        <button type="button" id="SerachName" class="btn btn-default" onclick="SearchList()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>

                    </div>

                </div>
            </form>
        </section>
    </div>
</section>

