
@{
    ViewBag.Title = "ListJson";
}

<h2>ListJson</h2>


<section id="listagem">
    <table class="table hidden" id="tabela">
        <thead>
            <tr>
                <th>Cód. Transportadora</th>
                <th>Nome/Razão Social</th>
                <th>Endereço</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>UsuarioID</th>
                <th>ClassificacaoID</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
</section>
