
@{
    ViewBag.Title = "ProgressBar";
}

<h2>ProgressBar</h2>


<div class="progress">
    <div class="progress-bar progress-bar-info six-sec-ease-in-out" role="progressbar" data-transitiongoal="100"></div>
</div>

@*<script type="text/javascript">
    $(document).ready(function () {
        $('.progress .progress-bar').progressbar({ display_text: 'center', use_percentage: false, amount_format: function (p, t) { return p + ' of ' + t; } });
    });
</script>*@
